{% extends "layout.html" %}
{% block content %}
<h1>About us</h1>

<div class="content-section">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">Connecting consumers to local restaurants</h2></br>
            <p class="text-secondary">Get It Now.com is a leading global online food delivery marketplace, connecting
                consumers and restaurants through its platforms. With over 10,000 connected restaurants offering
                consumers a wide variety of food choice.</p>
            <p class="text-secondary">Located in Bilbao, the company was created in December 2021, by Iker Silva,
                student at the University of Deusto.</p>
                <div>
                    <img style="width:350px;height:250px;" class="center" src="{{ url_for('static', filename='getitnow_images/about1.jpg') }}">
                </div>
        </div>     
    </div>
    </br>
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">Our marketplace benefits</h2></br>
            <p class="text-secondary">As an online food delivery marketplace, Get It Now.com facilitates the
                online ordering, payment and occasionally, fulfilment of orders. We utilise a hybrid model which builds
                on our marketplace heritage (where restaurants do their own delivery) with logistics capability (for
                select restaurants without their own delivery capabilities). This model ensures consumers have the
                widest possible variety of restaurants to order from.</p>
            <p class="text-secondary">Consumers can order via our website. We derive our revenue principally from the
                commissions we charge restaurants based on the Gross Transaction Value (GTV) of the food ordered through
                our marketplace and, to a lesser extent, from other services such as online payment services, sales of
                merchandise and packaging, and promoted placement. In addition, we also derive revenue from delivery
                fees charged to consumers on orders for which Get It Now.com is responsible for the
                Delivery.</p>
                <div>
                    <img style="width:350px;height:250px;" class="center" src="{{ url_for('static', filename='getitnow_images/about2.jpg') }}">
                </div>
        </div>
    </div>
</div>
{% endblock content %}